# Introdução Pandas
### Coluns

In [1]:
import pandas as pd

In [11]:
df_cambio = pd.DataFrame({
    "Moeda": ["dolar/real","libra/real"]*2,
    "Price": [5.24,4.15,5.26,4.23],
    "Data": sorted(list(pd.date_range("1/5/2014", periods = 4))*2)
})

df_cambio

        Moeda  Price       Data
0  dolar/real   5.24 2014-01-05
1  libra/real   4.15 2014-01-05
2  dolar/real   5.26 2014-01-06
3  libra/real   4.23 2014-01-06

In [12]:
# Como trocar o nome das colunas

df_cambio.columns
df_cambio.columns = ["Moeda","Cotação","Data"]

df_cambio

        Moeda  Cotação       Data
0  dolar/real     5.24 2014-01-05
1  libra/real     4.15 2014-01-05
2  dolar/real     5.26 2014-01-06
3  libra/real     4.23 2014-01-06

### Manipulando

In [13]:
#Como selecionar coluna

cotacao = df_cambio["Cotação"] #Te devolve uma serie

cotacao

df_cambio.Moeda #Pode selecionar colunas assim tambem

0    dolar/real
1    libra/real
2    dolar/real
3    libra/real
Name: Moeda, dtype: object

In [14]:
#2 colunas

cotacao_e_data = df_cambio[["Cotação","Data"]]

cotacao_e_data

   Cotação       Data
0     5.24 2014-01-05
1     4.15 2014-01-05
2     5.26 2014-01-06
3     4.23 2014-01-06

In [15]:
#Vantagem da data como indice

df_cambio = df_cambio.set_index("Data")

cotacao = df_cambio["Cotação"]

cotacao

Data
2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
Name: Cotação, dtype: float64

In [20]:
#Selecionando colunas por condições

cambio_menor_que_5 = df_cambio[df_cambio["Cotação"]< 5]

cambio_menor_que_5

#Selecionando o Cambio 
cambio_dolar = df_cambio[df_cambio["Moeda"] == "dolar/real"]

cambio_dolar

                 Moeda  Cotação
Data
2014-01-05  dolar/real     5.24
2014-01-06  dolar/real     5.26

In [26]:
#selecionando duas condições ao mesmo tempo (operadores & e |)

#dolar e maior que 5.25

cambio_dolar_e_maior_que_525 = df_cambio[(df_cambio["Moeda"]== "dolar/real") &
                                        (df_cambio["Cotação"] > 5.25)]


print(cambio_dolar_e_maior_que_525)

#Libra ou maior que 5.24

cambio_Libra_ou_maior_que_525 = df_cambio[(df_cambio["Moeda"] == "libra/real")|
                                          (df_cambio["Cotação"]> 5.24)]

print(cambio_Libra_ou_maior_que_525)


#podemos filtrar o indice também 

#libra no dia 5 de janeiro de 2014

libra_5_jan = df_cambio[(df_cambio.index == "2014-01-05") &
                        (df_cambio["Moeda"] == "libra/real")]

libra_5_jan

                 Moeda  Cotação
Data
2014-01-06  dolar/real     5.26
                 Moeda  Cotação
Data
2014-01-05  libra/real     4.15
2014-01-06  dolar/real     5.26
2014-01-06  libra/real     4.23

                 Moeda  Cotação
Data
2014-01-05  libra/real     4.15

# Exercícios

* Exercício 40: Mude o nome da coluna do dataframe do exercício 39 de "cotacoes" para "precos".
* Exercício 41: Selecione a coluna de preços do dataframe estudado.
* Exercício 42: Selecione as duas últimas colunas do dataframe estudado.
* Exercício 43: Selecione as informações da Petrobras no dataframe estudado.
* Exercício 44: Selecione apenas empresas com P/L menor que 20.
* Exercício 45: Selecione empresas com P/L maior que 10 e volume maior que 2000.
* Exercício 46: Selecione empresas que a cotação seja maior que 20 ou o volume é maior que 4000.

In [54]:
#40
import numpy as np

Carteira = {
    "Tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35 ],
    "nomes": ["Weg", "Petrobras", "Vale", "Petrobras","Lojas Renner"],
    "Preco sobre lucro": [25, 6, 12, 7, 25 ],
    "volume": [5000, 1000, 4000, 7000, 1200]
}

carteira_dataframe = pd.DataFrame(Carteira,index=[np.arange(5)])

carteira_dataframe = carteira_dataframe.set_index("Tickers")

carteira_dataframe.columns =["Preços","Nomes", "Preco sobre lucro","Volume"]

carteira_dataframe

         Preços         Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20           Weg                 25    5000
PETR3        30     Petrobras                  6    1000
VALE3        40          Vale                 12    4000
PETR4        12     Petrobras                  7    7000
LREN3        35  Lojas Renner                 25    1200

In [44]:
#41
print(carteira_dataframe.Preços) #um jeito

cotacao = carteira_dataframe["Preços"]

cotacao

Tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: Preços, dtype: int64

Tickers
WEGE3    20
PETR3    30
VALE3    40
PETR4    12
LREN3    35
Name: Preços, dtype: int64

In [56]:
#42
ultimas_colunas = carteira_dataframe[["Preco sobre lucro","Volume"]]

ultimas_colunas

         Preco sobre lucro  Volume
Tickers
WEGE3                   25    5000
PETR3                    6    1000
VALE3                   12    4000
PETR4                    7    7000
LREN3                   25    1200

In [57]:
#43
selecionar_petrobras = carteira_dataframe[carteira_dataframe["Nomes"] == "Petrobras"]

selecionar_petrobras

         Preços      Nomes  Preco sobre lucro  Volume
Tickers
PETR3        30  Petrobras                  6    1000
PETR4        12  Petrobras                  7    7000

In [58]:
#44
selecionar_Pl_maior_20 = carteira_dataframe[carteira_dataframe["Preco sobre lucro"] > 20]

selecionar_Pl_maior_20

         Preços         Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20           Weg                 25    5000
LREN3        35  Lojas Renner                 25    1200

In [59]:
#45
selecionar_Pl_maior_10_e_volume_2000= carteira_dataframe[(carteira_dataframe["Preco sobre lucro"] > 10) &
                                                         (carteira_dataframe["Volume"] > 2000)]

selecionar_Pl_maior_10_e_volume_2000

         Preços Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20   Weg                 25    5000
VALE3        40  Vale                 12    4000

In [61]:
#46
cotacao_maior_20_ou_volume_maior_4000 = carteira_dataframe[(carteira_dataframe["Preços"] > 20)|
                                                           (carteira_dataframe["Volume"] > 4000)]

cotacao_maior_20_ou_volume_maior_4000

         Preços         Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20           Weg                 25    5000
PETR3        30     Petrobras                  6    1000
VALE3        40          Vale                 12    4000
PETR4        12     Petrobras                  7    7000
LREN3        35  Lojas Renner                 25    1200