# Introdução ao Pandas
### Index and Date

In [2]:
import pandas as pd
import numpy as np

In [3]:
#como criar indice

serie = pd.Series(["Brasil","França","Australia"], 
                    index = ["America_do_Sul","Europa","Oceania"])

print(serie.index)
serie.index[1]

Index(['America_do_Sul', 'Europa', 'Oceania'], dtype='object')

'Europa'

In [4]:
# Como colocar uma coluna como indice

dicionario = {"empresa": ["Weg", "Petrobras", "Vale"], "cotacao": [20.54, 20, 40]}

dataframe = pd.DataFrame(dicionario)

print(dataframe)

dataframe = dataframe.set_index("empresa")

dataframe

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00

           cotacao
empresa
Weg          20.54
Petrobras    20.00
Vale         40.00

In [5]:
#criar novo index, do zero ou de forma aleatória

dataframe = dataframe.reset_index()

print(dataframe)

dataframe.index = ["a","b","c"]

dataframe

     empresa  cotacao
0        Weg    20.54
1  Petrobras    20.00
2       Vale    40.00

     empresa  cotacao
a        Weg    20.54
b  Petrobras    20.00
c       Vale    40.00

In [6]:
#criar um range de datas como um indice

quatro_dias = pd.date_range("1/4/2000",periods=4)

print(quatro_dias)

fim_mes = pd.date_range(start="1/1/2000", end = "31/12/2000", freq = "M")

fim_mes

DatetimeIndex(['2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07'], dtype='datetime64[ns]', freq='D')

C:\Users\Tiago\AppData\Local\Temp\ipykernel_107840\2750288092.py:7: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fim_mes = pd.date_range(start="1/1/2000", end = "31/12/2000", freq = "M")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='M')

In [7]:
fim_mes_weg = pd.date_range(start="1/1/2000", end = "30/4/2000", freq = "M")

print(fim_mes_weg)

dicionario = {"cotacao":[20.54,20,21,22]}

cotacao_web = pd.DataFrame(dicionario,index=fim_mes_weg)

cotacao_web

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30'], dtype='datetime64[ns]', freq='M')

C:\Users\Tiago\AppData\Local\Temp\ipykernel_107840\3483916464.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fim_mes_weg = pd.date_range(start="1/1/2000", end = "30/4/2000", freq = "M")

            cotacao
2000-01-31    20.54
2000-02-29    20.00
2000-03-31    21.00
2000-04-30    22.00

In [8]:
cotacao_web[cotacao_web.index > "2000-02-29"]

            cotacao
2000-03-31     21.0
2000-04-30     22.0

# Exercícios

* Exercício 37: Crie um dataframe que as colunas tenham informações fictícias de cotações, volumes e a data de cada dado. Utilize pd.date_range para criar a coluna de datas.
* Exercício 38: Converta a coluna "datas" para índice. 
* Exercício 39: Converta a coluna "tickers" do dataframe do exercício 36 como índice.

In [9]:
#37
dicionario = {"cotacao": [20, 21, 22], 
              "volume":[100, 200, 5000], 
              "data": pd.date_range("1/4/2000", periods = 3)}

df_dados = pd.DataFrame(dicionario)
df_dados

   cotacao  volume       data
0       20     100 2000-01-04
1       21     200 2000-01-05
2       22    5000 2000-01-06

In [10]:
df_dados = df_dados.set_index("data")

df_dados

            cotacao  volume
data
2000-01-04       20     100
2000-01-05       21     200
2000-01-06       22    5000

In [11]:
#39
Carteira = {
    "Tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35 ],
    "nomes": ["Weg", "Petrobras", "Vale", "Petrobras","Lojas Renner"],
    "Preco sobre lucro": [25, 6, 12, 7, 25 ],
    "volume": [5000, 1000, 4000, 7000, 1200]
}

carteira_dataframe = pd.DataFrame(Carteira,index=[np.arange(5)])

carteira_dataframe = carteira_dataframe.set_index("Tickers")
carteira_dataframeb

         cotacoes         nomes  Preco sobre lucro  volume
Tickers
WEGE3          20           Weg                 25    5000
PETR3          30     Petrobras                  6    1000
VALE3          40          Vale                 12    4000
PETR4          12     Petrobras                  7    7000
LREN3          35  Lojas Renner                 25    1200