# Operaçoes aritméticas
### Calcular o preço/ação de uma ação

In [5]:
import pandas as pd
import numpy as np

In [6]:
#Função que cria series

def gerador_serie_historica(valor_inicial,volatilidade,periodos,dia_inicial,frequencia = "M"):
   
   vetor = [valor_inicial]
   for i in range(periodos -1):
        preco = vetor[i] * (1 + np.random.normal(0,volatilidade))

        vetor.append(preco)

   serie = pd.Series(vetor,index = pd.date_range(dia_inicial,periods = periodos,
                                                  freq = frequencia ))
   
   return serie

In [12]:
serie_euro = gerador_serie_historica(5,0.01,5,"2022-01-01")
serie_cotacoes = gerador_serie_historica(20,0.05,5,"2022-01-01")

print(serie_euro)

print(serie_cotacoes)

2022-01-31    5.000000
2022-02-28    4.940200
2022-03-31    4.997721
2022-04-30    4.987836
2022-05-31    4.988781
Freq: M, dtype: float64
2022-01-31    20.000000
2022-02-28    19.039933
2022-03-31    19.105325
2022-04-30    17.933750
2022-05-31    18.029548
Freq: M, dtype: float64

In [13]:
#as operações aritméticas são feitas através dos índices! 

serie_cotacoes_em_euro = serie_cotacoes/serie_euro

serie_cotacoes_em_euro

2022-01-31    4.000000
2022-02-28    3.854081
2022-03-31    3.822808
2022-04-30    3.595497
2022-05-31    3.614018
Freq: M, dtype: float64

In [15]:

serie_lucro = gerador_serie_historica(2,0.5,5,"2022-01-01")

serie_cotacoes = gerador_serie_historica(20,0.05,5,"2022-01-01")


df = pd.DataFrame({"Cotação": serie_cotacoes,
                    "Lucro por ação": serie_lucro})

df

              Cotação  Lucro por ação
2022-01-31  20.000000        2.000000
2022-02-28  20.380021        3.072849
2022-03-31  19.366705        3.240132
2022-04-30  19.489401        2.529596
2022-05-31  17.888260       -0.263643

In [16]:
#Criando coluna P/L

df["PL"] = df["Cotação"]/df["Lucro por ação"]

df

              Cotação  Lucro por ação         PL
2022-01-31  20.000000        2.000000  10.000000
2022-02-28  20.380021        3.072849   6.632289
2022-03-31  19.366705        3.240132   5.977134
2022-04-30  19.489401        2.529596   7.704552
2022-05-31  17.888260       -0.263643 -67.850199

In [17]:
#Demonstação de que se pode fazer qualquer operação
print(df['Cotação'] + df['Lucro por ação'])
print(df['Cotação'] - df['Lucro por ação'])
print(df['Cotação'] ** df['Lucro por ação'])

2022-01-31    22.000000
2022-02-28    23.452870
2022-03-31    22.606838
2022-04-30    22.018997
2022-05-31    17.624616
Freq: M, dtype: float64
2022-01-31    18.000000
2022-02-28    17.307172
2022-03-31    16.126573
2022-04-30    16.959806
2022-05-31    18.151903
Freq: M, dtype: float64
2022-01-31      400.000000
2022-02-28    10543.570235
2022-03-31    14798.955500
2022-04-30     1830.916770
2022-05-31        0.467486
Freq: M, dtype: float64

In [18]:
#Operações dentro de uma mesma coluna

#Somar dados de uma coluna

serie_lucro_trimestral = gerador_serie_historica(20000,2,4,"2022-01-01",frequencia= "Q")

print(serie_lucro_trimestral)

lucro_anual = serie_lucro_trimestral.sum()
lucro_anual

2022-03-31    20000.000000
2022-06-30    92514.733462
2022-09-30    38744.586417
2022-12-31    99643.366508
Freq: Q-DEC, dtype: float64

250902.68638732424

In [19]:
#Maior e menor dado de lucro no trimestre

serie_lucro_trimestral = gerador_serie_historica(20000,2,4,"2022-01-01",frequencia= "Q")

print(serie_lucro_trimestral)

lucro_max = serie_lucro_trimestral.max()
lucro_min = serie_lucro_trimestral.min()

print(lucro_min)

lucro_max

2022-03-31    20000.000000
2022-06-30    13887.799114
2022-09-30    34628.275001
2022-12-31    34805.372766
Freq: Q-DEC, dtype: float64
13887.799114093636

34805.372765919274

# Exercícios 

No dataframe base trabalhado em todas as aulas:

* Exercício 50: Crie uma nova coluna chamada "lucro_por_acao" e calcule o lucro por ação baseado nas informações de PL e preço. Obs: LPA = P/Indicador(PL)
* Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.
* Exercício 52: Encontre qual volume total negociado por todas as ações. 
* Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe. Dica: use métodos de seleção ensinados na aula passada!

In [20]:
#DataFrame Base das aulas
Carteira = {
    "Tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35 ],
    "nomes": ["Weg", "Petrobras", "Vale", "Petrobras","Lojas Renner"],
    "Preco sobre lucro": [25, 6, 12, 7, 25 ],
    "volume": [5000, 1000, 4000, 7000, 1200]
}

import numpy as np
carteira_dataframe = pd.DataFrame(Carteira)

carteira_dataframe = carteira_dataframe.set_index("Tickers")

carteira_dataframe.columns =["Preços","Nomes", "Preco sobre lucro","Volume"]

carteira_dataframe

         Preços         Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20           Weg                 25    5000
PETR3        30     Petrobras                  6    1000
VALE3        40          Vale                 12    4000
PETR4        12     Petrobras                  7    7000
LREN3        35  Lojas Renner                 25    1200

In [30]:
#50b
lpa = carteira_dataframe["Preços"]/ carteira_dataframe["Preco sobre lucro"]

carteira_dataframe["Lucro por Ação"] = lpa

carteira_dataframe

         Preços         Nomes  Preco sobre lucro  Volume  Lucro por Ação
Tickers
WEGE3        20           Weg                 25    5000        0.800000
PETR3        30     Petrobras                  6    1000        5.000000
VALE3        40          Vale                 12    4000        3.333333
PETR4        12     Petrobras                  7    7000        1.714286
LREN3        35  Lojas Renner                 25    1200        1.400000

In [38]:
#* Exercício 51: Assuma a cotação do dólar como 5.25 e crie a coluna de cotações dolarizadas na tabela.

dolariziada = list(map(lambda x: x/ 5.25,carteira_dataframe["Preços"]))

carteira_dataframe["Cotação dolarizada"] = dolariziada 
carteira_dataframe

,Preços,Nomes,Preco sobre lucro,Volume,Lucro por Ação,Cotação dolarizada
Tickers,,,,,,
WEGE3,20,Weg,25,5000,0.800000,3.809524
PETR3,30,Petrobras,6,1000,5.000000,5.714286
VALE3,40,Vale,12,4000,3.333333,7.619048
PETR4,12,Petrobras,7,7000,1.714286,2.285714
LREN3,35,Lojas Renner,25,1200,1.400000,6.666667

In [39]:
# Exercício 52: Encontre qual volume total negociado por todas as ações. 

volume_total_acoes = carteira_dataframe["Volume"].sum()

print(volume_total_acoes)

18200

In [78]:
# Exercício 53: Selecione as ações com maior e menor Lucro por ação do dataframe. Dica: use métodos de seleção ensinados na aula passada! 

menor = carteira_dataframe["Lucro por Ação"].min()
maior = carteira_dataframe["Lucro por Ação"].max()

acao_menor = carteira_dataframe[carteira_dataframe["Lucro por Ação"] == menor]
acao_menor = acao_menor.iat[0,1]

acao_maior = carteira_dataframe[carteira_dataframe["Lucro por Ação"] == maior]
acao_maior = acao_maior.iat[0,1]




print(acao_menor)

print(acao_maior)

Weg
Petrobras