# Seleção de dados

In [1]:
import pandas as pd

In [2]:
df_cambio = pd.DataFrame({
    "Moeda": ["dolar/real","libra/real"]*4,
    "Price": [5.24, 4.15, 5.26, 4.23, 5.55, 4.02, 5.76, 3.98],
    "Derivativo": list(["DOLFT3","LIBFT3"])*4},
    index = sorted(list(pd.date_range("1/5/2014", periods = 4))*2)
)

df_cambio

                 Moeda  Price Derivativo
2014-01-05  dolar/real   5.24     DOLFT3
2014-01-05  libra/real   4.15     LIBFT3
2014-01-06  dolar/real   5.26     DOLFT3
2014-01-06  libra/real   4.23     LIBFT3
2014-01-07  dolar/real   5.55     DOLFT3
2014-01-07  libra/real   4.02     LIBFT3
2014-01-08  dolar/real   5.76     DOLFT3
2014-01-08  libra/real   3.98     LIBFT3

In [11]:
#ferramentas loc, iloc, at, iat

#loc - Selecionar a partir dos nomes

#um unico dia 
df_cambio.loc["2014-01-05"]

#algum periodo
df_cambio.loc["2014-01-05":"2014-01-07"]

#Um periodo sobre a infromação preço
df_cambio.loc["2014-01-05":"2014-01-07","Price"]

#Um dia sobre a informação preço
df_cambio.loc["2014-01-05","Price"]

#Um dia sobre a informação preço e moeda
df_cambio.loc["2014-01-05","Moeda":"Price"]

#todos os dados da informação
df_cambio.loc[:,"Price"]

2014-01-05    5.24
2014-01-05    4.15
2014-01-06    5.26
2014-01-06    4.23
2014-01-07    5.55
2014-01-07    4.02
2014-01-08    5.76
2014-01-08    3.98
Name: Price, dtype: float64

In [12]:
#ferramentas loc, iloc, at, iat

#at é igual ao Loc,só que serve para localizar um único item. + otimizado

df_cambio.at["2014-01-05", "Price"]#mais otimizado que o loc para pegar uma linha e uma coluna

2014-01-05    5.24
2014-01-05    4.15
Name: Price, dtype: float64

In [13]:
#iloc serve para selecionar itens através de índices numéricos.
#Parecido com as listas, mas é preciso usar iloc antes.

#primeira linha
df_cambio.iloc[0,:]

#Tres primeiras linhas
df_cambio.iloc[0:3,:]

#Primeira coluna
df_cambio.iloc[:,0]

#primeiro Preço dp cambio
df_cambio.iloc[0,1]

#Primeiro preço do cambio com iat
cambio = df_cambio.iat[0,1]

print(cambio)

#ultima linha
df_cambio.iloc[-1]

5.24

Moeda         libra/real
Price               3.98
Derivativo        LIBFT3
Name: 2014-01-08 00:00:00, dtype: object

In [3]:
#Substituir dados com loc

#se um ativo mudar o código de negociação?
df_cambio.loc[df_cambio["Derivativo"]== "DOLFT3","Derivativo"] = "DOLFT4"

df_cambio.loc[df_cambio["Derivativo"]== "DOLFT4"] = "Zona"

df_cambio

                 Moeda Price Derivativo
2014-01-05        Zona  Zona       Zona
2014-01-05  libra/real  4.15     LIBFT3
2014-01-06        Zona  Zona       Zona
2014-01-06  libra/real  4.23     LIBFT3
2014-01-07        Zona  Zona       Zona
2014-01-07  libra/real  4.02     LIBFT3
2014-01-08        Zona  Zona       Zona
2014-01-08  libra/real  3.98     LIBFT3

# Exercícios 

A partir do DataFrame desenvolvido no exercício 40:

* Exercício 47: Selecione a primeira linha inteira e a primeira coluna inteira com loc.
* Exercício 48: Selecione o preço da weg com iat e com at.
* Exercício 49: Selecione as duas primeiras linhas e todas as colunas com iloc.

In [5]:

Carteira = {
    "Tickers" : ["WEGE3", "PETR3", "VALE3", "PETR4", "LREN3"],
    "cotacoes": [20, 30, 40, 12, 35 ],
    "nomes": ["Weg", "Petrobras", "Vale", "Petrobras","Lojas Renner"],
    "Preco sobre lucro": [25, 6, 12, 7, 25 ],
    "volume": [5000, 1000, 4000, 7000, 1200]
}

import numpy as np
carteira_dataframe = pd.DataFrame(Carteira,index=[np.arange(5)])

carteira_dataframe = carteira_dataframe.set_index("Tickers")

carteira_dataframe.columns =["Preços","Nomes", "Preco sobre lucro","Volume"]

carteira_dataframe

         Preços         Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20           Weg                 25    5000
PETR3        30     Petrobras                  6    1000
VALE3        40          Vale                 12    4000
PETR4        12     Petrobras                  7    7000
LREN3        35  Lojas Renner                 25    1200

In [6]:
#47

carteira_dataframe.loc["WEGE3",:]

Preços                 20
Nomes                 Weg
Preco sobre lucro      25
Volume               5000
Name: WEGE3, dtype: object

In [10]:
#48

preco_web = carteira_dataframe.iat[0,0]
print(preco_web)

carteira_dataframe.at["WEGE3","Preços"]

20

20

In [18]:
#49
carteira_dataframe.iloc[0:2,:]

         Preços      Nomes  Preco sobre lucro  Volume
Tickers
WEGE3        20        Weg                 25    5000
PETR3        30  Petrobras                  6    1000